.full-height {
    min-height: 90vh;
    width: 100%;
}

body {
    overflow-x: hidden ! important;
    overflow-y: visible;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

.background-image-1{
    background-image: url(../../first.jpg) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: transparent;
}
.background-image-2{
    background-image: url(../../capital.jpg) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: 80% 80%;
    background-color: transparent;
}
.background-image-3{
    background-image: url(../../london.jpg) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center center;
    background-color: transparent;
}
.background-image-4{
    background-image: url(../../footer.jpg) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center center;
    background-color: transparent;
}
#first{
    margin-top: -20px;
}

.divider {
    height: 10vh;
    width: 100%;
}

.footer{
    height: 70vh;
}

.footer-text{
    min-height: 30vh;
    padding: 40px 0px;
    background-color: #212121 !important;
    color: #b0bec5 !important;
}

.full-vertical-height {
    height: 90vh;
}

.background-red {
    background-color: #f44336 !important;
}
.foreground-red {
    color: #f44336 !important;
}

.background-blue {
    background-color: #2196f3 !important;
}
.background-light-blue {
    background-color:  #03a9f4 !important;
}
.background-yellow {
    background-color:  #ffe0b2 !important;
}

.padding-top-50px {
    margin-top: 300px !important;
}

.panel {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}