<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <img src="http://lorempixel.com/400/400" class="img-responsive">
            </div>
            <div class="col-lg-10">
                <h3><a href="{% url 'sharing:post_details' post.bijdrage.id %}">{{ post.titel }}</a></h3>
                <h4>{{ post.bijdrage.user }}</h4>
                <p>{{ post.inhoud|linebreaks }}</p>
                <a  href="{% url 'sharing:post_details' post.bijdrage.id %}" class="btn pull-right btn-info">Lees meer</a>
            </div>
        </div>
    </div>
</div>
