{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-offset-2 col-md-8 panel">
				<h1 class="page-header text-center">Social Media Event Portal</h1>
				{% crispy loginform %}
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-info btn-block"
				   style="background-color:#00aced;"><i class="fa fa-twitter"></i> Log in with twitter</a>
				<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-info" style="background-color: #3b5998;"><i
						class="fa fa-facebook"></i> Log in with Facebook</a>
			</div>
		</div>
	</div>
{% endblock %}