{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<h1>{{ user }}</h1>
			</div>
			<div class="col-lg-5">
				<div class="panel">
					<div class="panel-body">
						{% crispy detailsform %}
					</div>
				</div>
				<div class="panel">
					<div class="panel-body">
						{% crispy userform %}
					</div>
				</div>
				<div class="panel">
					<div class="panel-body">
						{% crispy settingsform %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}