{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% if post.bijdrage.soort == "bericht" %}
					{% include "snippet/post.html" %}
				{% else %}
					{% include "snippet/post.html" %}
				{% endif %}
				<div class="row">
					<div class="col-md-3">
						<div class="panel">
							<div class="panel-body">
								<h3>Plaats comment</h3>
								{% crispy form %}
							</div>
						</div>
					</div>
					{% for comment in post.get_child_comments %}
						<div class="col-lg-3">
							{% include 'snippet/comment.html' %}
						</div>
					{% endfor %}
				</div>


			</div>
		</div>
	</div>
{% endblock %}