{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            {% if post.bijdrage.soort == "bericht" %}
                    {% include "snippet/post.html" %}
            {% else %}
                <p>test</p>
            {% endif %}
            <div class="row">
                <div class="col-md-3">
                    {% crispy form %}
                </div>
                {% for comment in post.get_child_comments %}
                    <div class="col-lg-3">
                        {% include 'snippet/comment.html' %}
                    </div>
                {% endfor %}
            </div>


            </div>
        </div>
    </div>
{% endblock %}