{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">

	{% if 1 %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/material.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/ripples.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/roboto.min.css' %}">
	{% else %}
		<link rel="stylesheet" href="{% static 'css/i328/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/i328/bootstrap-theme.css' %}">
	{% endif %}
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if user.settings.active_event %} {{ user.settings.active_event }} {% else %} ICT4EVENT {% endif %}</title>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'events:index' %}">{% if user.settings.active_event %}
				{{ user.settings.active_event|upper }} {% else %} ICT4EVENT {% endif %}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events
						<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{% for event in pre_events %}
							<li><a href="{% url 'events:set_active_event' event.id %}">{{ event }}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}

					<li>
						<div class="navbar-form">
							<input type="text" class="form-control" placeholder="Search" id="form-field-search">
						</div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-expanded="false"><i class="fa fa-user"></i> {{ user.get_full_name }} <span
								class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							{% if user.is_superuser %}
								<li><a href="{% url 'admin:index' %}">Admin</a></li>
								<li><a href="/api/">API</a></li>
								<li class="divider"></li>
							{% endif %}
							<li><a href="{% url 'account:logout' %}">Logout</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{% url 'account:login' %}"><i class="fa fa-child"></i> Log in</a></li>
				{% endif %}
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Your site -->
<div class="container">
	{% if messages %}
		<div class="row">
			{% for message in messages %}
				<div class="col-xs-12 alert alert-{{ message.tags }} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% block content %}

{% endblock %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/ripples.min.js' %}"></script>
<script src="{% static 'js/SME.js' %}"></script>
<script type="application/javascript">
	$(document).ready(function () {
		$.material.init();
	});
</script>
</body>
</html>