{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1 class="page-header">Opkomende Events</h1>

				<div class="panel">
					<div class="panel-body">
						<div class="row">
							{% for event in events %}
								{% include 'snippet/event.html' %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<h1>Dit is een zijkolom</h1>

				<p>hier kan vanalles</p>
			</div>

			<div class="col-lg-12">
				<div class="panel">
					<div class="panel-body">
						<h1>Hi</h1>
					</div>
				</div>
			</div>
		</div>
{% endblock %}