{% extends 'base.html' %}

{% block content %}
	<div class="container">
		{% if messages %}
			<div class="row">
				{% for message in messages %}
					<div class="col-xs-12 alert alert-{{ message.tags }} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
						{{ message }}
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="row">
			<div class="col-lg-8">
				<h1 class="page-header">Recente posts</h1>

				<div class="panel">
					<div class="row">
						<div class="panel">
							<div class=" col-lg-3 col-sm-12">
								<img src="http://lorempixel.com/800/800" alt="" class="img-responsive"/>
							</div>
							<div class="col-lg-8 col-sm-12">
								<h3><b>Posted by:</b> Admin <b>on</b> May 11th.</h3>

								<p>Wat vinden jullie van dit event</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-4">
				<h1>Dit is een zijkolom</h1>

				<p>hier kan vanalles</p>
			</div>

			<div class="col-lg-12">
				<div class="panel">
					<h1>Hi</h1>

					<div class="row">
						<div class="col-lg-6">
							<div class="panel">
								<h1>hi again</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}